<div class="createProblemContainer">
<div id="listcontainer">
<h1 id="crtHead">Створити претензію</h1>
<%= form_for @problem, multipart: true do |f| %>

  <!-- EMPTY FIELD CHECK -->

  <% if f.object && f.object.errors.size > 0 %>
    <div class="errorContainer">
          <p> Наступні поля повинні бути заповнені: </p>
          <ul>
            <% f.object.errors.full_messages.each do |msg| %>
              <% if  msg  == "Consignmentnote can't be blank" %>
              <li>Поле з номером ТТН не повинно бути пустим.</li>
              <% elsif  msg  == "Name can't be blank" %>
                <li>Поле з Видом претензії не повинно бути пустим.</li>
              <% elsif  msg  == "Socialnumber can't be blank" %>
                <li>Поле з номером ІНН не повинно бути пустим.</li>
              <% elsif  msg  == "Passport can't be blank" %>
                <li>Поле з паспортом не повинно бути пустим.</li>
              <% elsif  msg  == "Telephonenumber can't be blank" %>
              <li>Поле з номером телефону не повинно бути пустим.</li>
                <% elsif  msg  == "Claimsum can't be blank" %>
              <li>Поле з претензією не повинно бути пустим.</li>
                <% elsif  msg  == "Insurancesum can't be blank" %>
              <li>Поле з оголошеною вартістю не повинно бути пустим.</li>
                <% else %>
                <li> <%= msg %> </li>
                <% end %>
            <% end %>
          </ul>
        </div>
        <% end %>
<!------------------------------- END CHECK------------------------------ -->
<br>
<div class="container">
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <p class="input-group-text" id="inputGroup-sizing-sm">Вид претензії:</p>
  </div>
<%= f.text_field(:name, class: 'form-control', placeholder: 'Вид претензії...') %>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">ТТН: </span>
  </div>
<%= f.text_field(:consignmentNote, class: 'form-control') %>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">ІНН: </span>
  </div>
<%= f.text_field(:socialNumber, class: 'form-control') %>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Паспорт: </span>
  </div>
<%= f.text_field(:passport, class: 'form-control') %>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Телефон: </span>
  </div>
<%= f.text_field(:telephoneNumber, class: 'form-control') %>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Претензія: </span>
  </div>
<%= f.text_field(:claimSum, class: 'form-control') %>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Оголошена вартість: </span>
  </div>
<%= f.text_field(:insuranceSum, class: 'form-control') %>
</div>
<br>
<%= submit_tag "Створити", class: 'btn btn-primary btn-lg', id: 'createButton' %>
<input type="button" id="backbutton" value="Назад" class="btn btn-danger">
<% end %>
</div>
</div>
</div>
<!--------------------------------- TEST -->
