
<div id="listcontainer">
<h1 id="crtHead">Створити претензію</h1>
<%= form_for @problem, multipart: true do |f| %>
<%= error_messages_for(f.object) %>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <p class="input-group-text" id="inputGroup-sizing-sm">Вид претензії:</p>
  </div>
<%= f.text_field(:name, class: 'customInput', style: 'width: 34%;') %>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">ТТН: </span>
  </div>
<%= f.text_field(:consignmentNote, class: 'customInput', style: 'width: 39.35%;') %>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">ІНН: </span>
  </div>
<%= f.text_field(:socialNumber, class: 'customInput', style: 'width: 39.5%;') %>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Паспорт: </span>
  </div>
<%= f.text_field(:passport, class: 'customInput', style: 'width: 36.8%;') %>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Телефон: </span>
  </div>
<%= f.text_field(:telephoneNumber, class: 'customInput', style: 'width: 36.5%;') %>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Претензія: </span>
  </div>
<%= f.text_field(:claimSum, class: 'customInput', style: 'width: 36%;') %>
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Оголошена вартість: </span>
  </div>
<%= f.text_field(:insuranceSum, class: 'customInput') %>
</div>
<br>
<%= submit_tag("Створити", class: 'btn btn-primary btn-lg') %>
<!-- <input type="button" id="backbutton" value="НазадJS" class="btn btn-danger"> -->
<%= link_to("Назад", root_path, class: 'btn btn-primary') %>
<% end %>
</div>

<!--
t.string :name, default: false
t.string :consignmentNote, limit: 12
t.string :socialNumber, limit: 15
t.string :passport
t.text :description
t.integer :telephoneNumber
t.boolean :decision, default: false
t.integer :claimSum
t.integer :insuranceSum
-->
