<h1>Результат пошуку </h1>
  <%= link_to "Завантажити список", problems_getFoundList_path(format: "csv"), class: 'btn btn-primary' %>
<table class="table" id="table1">
<thead>
  <tr>

    <th scope="col">Вид претензії</th>
    <th scope="col">ТТН</th>
    <th scope="col">Вартість</th>
    <th scope="col">Сума претензії</th>
    <th scope="col">ІНН</th>
    <th scope="col">Паспорт</th>
    <th scope="col">Телефон</th>
    <th scope="col">Рішення</th>
  </tr>
</thead>
<tbody>
  <%   $resultArray.each do |problem| %>
  <tr>

    <td> <%= problem.name %></td>
    <td> <%= problem.consignmentNote %></td>
    <td> <%= problem.insuranceSum %> </td>
    <td> <%= problem.claimSum %> </td>
    <td> <%= problem.socialNumber %> </td>
    <td> <%= problem.passport %> </td>
    <td> <%= problem.telephoneNumber %> </td>
    <td> <%= problem.decision %> </td>
  </tr>
  <% end %>
</tbody>
</table>
