  <tr>
  <%= form_for user do |f| %>
  <form id='<%= user.id %>'></form>
  <td> <%= user.id %> </td>
  <td><%= link_to(user.first_name, user, class: 'link') %></td>
  <td><%= user.last_name %></td>
  <td><%= user.phone %></td>
  <td><%= user.email %></td>
    <td><%= link_to("Delete", delete_user_path(user), class: 'btn btn-danger') %> </td>
    <td class='destroy'>Destroy</td>
      </tr>

<% end %>
