
<h1>User#index</h1>
<p>Find me in app/views/user/index.html.erb</p>


<input type="button" id="c1" value="Start Slideshow">
<input type="button" id="c2" value="Stop Slideshow">
<br/>
<br/>


<%= image_tag('11.png', id: 'mainImg', height: '400', width: '440', border: '3px solid red' ) %>
<br/>
<div id="cont2">
  <%= image_tag('1.jpg', class: 'imgStyle') %>
  <%= image_tag('11.png', class: 'imgStyle') %>
  <%= image_tag('12.jpg', class: 'imgStyle') %>
  <%= image_tag('13.jpg', class: 'imgStyle') %>
  <%= image_tag('14.jpg', class: 'imgStyle') %>
</div>






<%= link_to("Create User", new_user_path, class: 'btn btn-primary', id: 'new_link', remote: true) %>
<%= link_to "somewhere", "#", id: "comments1" %>
<input type="button" id="c1" value="Autos">
<input type="button" id="c2" value="Gassoline">
<input type="button" id="c3" value="Cities">
<input type="button" id="c4" value="Month">

<table>
<tr>
  <td>First name:</td>
  <td>
    <input id="firstText" type="text" class="inputReq" />
  </td>
  <td> <%= image_tag('11.png', size: '20x20', id: 'imgFirst', class: 'imag') %></td>
  <td> <div id="divFirst" style="display: none">First name in passports</div></td>
</tr>
  <tr>
    <td>Last name:</td>
    <td>
      <input id="secondText" type="text" class="inputReq" />
    <td> <%= image_tag('11.png', size: '20x20', id: 'imgLast', class: 'imag') %></td>
    <td> <div id="divLast" style="display: none">Last name in passports</div></td>
    </td>
  </tr>
  <tr>
    <td>City</td>
    <td> <%= image_tag('11.png', size: '20x20', id: 'imgText', class: 'imag') %></td>
    <td><div id="divText" style="display: none">your text goo</div></td>
    <td>
      <select id="ddCelect" class="inputReq">
        <option value="select">select</option>
        <option value="Toronto">Toronto</option>
        <option value="NewYourk">ew-your</option>
        <option value="hello">Hello</option>
        <option value="Kiev">Kiev</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Text:</td>

  </tr>
</table>
<ul id="ulList">
  <li class="hello1">US</li>
  <li>Canada</li>
  <li>England</li>
  <li>Ukraine</li>
  <li>Germany</li>
  <li>Poland</li>
</ul>

<h3 id="scrollev" style="display: none;">scroll event handled/</h3>
<div id="divauto">
  </div>
<div id="resPrice" style="height: 200px; width: 200px; border: 1px solid black; overflow: scroll;">
ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffffff
fffffffffffffffffffffffffffffffffffffffffffffffffffffffff
ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</div>



<table class="table" id="tablet1">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">First name</th>
    <th scope="col">Last_name</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <%= render @user %>
</table>